@model Migroup2.Models.TDanhMucSp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="@Url.Content("../ProductImages/" + Model.AnhDaiDien)">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        @foreach (var image in ViewBag.ProductPicture)
                        {
                            <img data-imgbigurl="@Url.Content("../ProductImages/" + image.TenFileAnh)"
                                 src="@Url.Content("../ProductImages/" + image.TenFileAnh)">
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.TenSp</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(999+ đánh giá)</span>
                    </div>
                    <div class="product__details__price">@Model.GiaLonNhat</div>
                    <p>
                        @Model.GioiThieuSp
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">THÊM VÀO GIỎ HÀNG</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
